#contact .icons-gallery ul li a {
    margin: 0rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    transition: 0.5s;
    overflow: hidden;
}

#contact .icons-gallery ul li a img {
    margin: 0 3rem;
}

#contact .icons-gallery ul li a {
    color: var(--color-white);
}