.navigation {
    position: fixed;
    bottom: 1.5rem;
    z-index: 1000;
}

.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-black-3);
    box-shadow: -5px 5px var(--shadow);
    border: 2px solid var(--color-white);
    transition: 0.5s;
}

.navigation ul:hover {
    box-shadow: -10px 10px var(--shadow-full);
}

.navigation ul li {
    list-style: none;
    padding: 0 0.25rem;
}

.navigation ul li a {
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.25rem;
    z-index: 1000;
}

.navigation ul li a .icon {
    font-size: 2rem;
    pointer-events: none;
    opacity: 0.2;
    transition: 0.25s;
    color: var(--color-white);
}
.navigation ul li.active {
    background-color: var(--color-green);
}
.navigation ul li.active a .icon {
    opacity: 1;
    scale: 1.2;
}

.navigation ul li a .text {
    color: var(--color-white);
    transition: 0.25s;
    opacity: 0.2;
}
.navigation ul li.active a .text {
    scale: 1.2;
    opacity: 1;
}